//colors
$white: #ffffff;
$red: #f15f79;
$tint-red: #e53c5a;
$black: #324552;
$text-link: #bbbbcb;
$text-blue: #00ACE4;
$quiz-background: #EFF3F5;
//special-color
$input-hover-border: rgba(29, 41, 49, 0.6);
//width
$mobile-width: 320px;
$tablet-width: 640px;
$fixed-width: 1440px;
